.grid {
    display: grid;
    gap: var(--consalud-spacing-xl);

    & > div {
        display: flex;
        flex-direction: column;
        gap: var(--consalud-spacing-md);
    }
}

@media (min-width: 768px) {
    .grid-2 {
        grid-template-columns: repeat(1, 1fr);
    }
    .grid-3 {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (min-width: 992px) {
    .grid-2 {
        grid-template-columns: repeat(2, 1fr);
    }
    .grid-3 {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1200px) {
    .grid-2 {
        grid-template-columns: repeat(2, 1fr);
    }
    .grid-3 {
        grid-template-columns: repeat(3, 1fr);
    }
    .grid-5 {
        grid-template-columns: repeat(5, 1fr);
    }
}
