/* Width */
.w-full {
  width: 100%;
}

.size-16 {
  width: 16px;
  height: 16;
}
.size-32 {
  width: 32px;
  height: 32px;
}

.size-64 {
  width: 64px;
  height: 64px;
}

.size-128 {
  width: 128px;
  height: 128px;
}

.max-w-container {
  max-width: var(--consalud-max-width);
  width: calc(100% - var(--consalud-spacing-2xl));
}

.max-w-md {
  max-width: 480px;
}

.max-w-lg {
  max-width: 768px;
}

/* Margins */
.mx-auto {
  margin: 0 auto;
}
.ml-auto {
  margin-left: auto;
}
.mt-lg {
  margin-top: var(--consalud-spacing-lg);
}
.mt-xl {
  margin-top: var(--consalud-spacing-xl);
}

/* Alignment */
.justify-center {
  justify-content: center;
}
.items-center {
  align-items: center;
}
.text-center {
  text-align: center;
}

/* Padding */
.p-md {
  padding: var(--consalud-spacing-md);
}

.p-lg {
  padding: var(--consalud-spacing-lg);
}

/* Text */
.text-secondary {
  color: var(--consalud-secondary);
}

/* Display */
.hidden {
  display: none;
}

@media (min-width: 768px) {
  .md\:block {
    display: block;
  }
}

.flex {
  display: flex;
}
.flex-col {
  flex-direction: column;
}
.items-center {
  align-items: center;
}
.justify-center {
  justify-content: center;
}
.gap-md {
  gap: var(--consalud-spacing-md);
}
.gap-lg {
  gap: var(--consalud-spacing-lg);
}
